nav ul li a {
	margin-right: 40px;
	font-size: 18px;	
}
.form {
	margin: auto;
	max-width: 980px;
	padding-top: 40px;
}
#address {
	margin-top: 10px;
}
#total {
	display: none;
}
#bulidPizza {
	margin-left: 20px;
}
#toppings {
	margin-left: 20px;
}
button {
	margin-top: 20px;

}